.htmlcontainer {
    justify-content: center;
    margin: 2px;

    section {
        display: flex;
    }

    article {
        flex-direction: row;
        padding: 20px;
    }

    h2 {
        text-align: center;
    }
    div{
        display: flex;
        justify-content: center;
    }
    p{
        justify-content: center;
        text-align: center;
    }
}

