@media all and (max-width: 720px) {
    .main-nav {
        display: none;
    }

    .homecontainer {
        display: block;
        flex-direction: column;
    }

    .switch {
        display: none;
    }

    .night {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    footer {
        display: block;
        padding: 10px;
        text-align: center;

        p {
            display: block;
            text-align: center;
        }

        nav {
            width: 100%;

            ul {
                flex-direction: column;
                padding: 0;
                margin: 0;
            }

            li {
                margin: 5px 0;
            }

            a {
                margin: 10px;
            }
        }
    }

    .cssdiagram {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .csseffect {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .balisehtml {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .codehtml {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .htmlpres {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .exem {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .csslove {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .banner {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}